<div class="container">
<div id="help">

<p align=center>Contact me with questions and bugs at:
<a href='https://github.com/maxwellalvord/maxwellalvord/issues'>https://github.com/maxwellalvord/maxwellalvord/issues</a><br>
or email me at <a href = "mailto:maxwellalvord@gmail.com">maxwellalvord@gmail.com</a></p>
</div>

<p align=center>@Html.ActionLink("Home", "Index")</p>
</div>